/* General Styles */
body {
    font-family: sans-serif,Arial;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
    line-height: 1.5;
}
body #reading-time,
body .table-of-content,
body .disclaimer{
    display: none;
}
#ad-blocker-blocker{
display:content;
}
    
h1, h2, h3, h4, h5, h6 {
    line-height: 1.3; /* Adjusted line height for headings */
}
/*fade in effect style*/
  .fade-in {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }

  .fade-in.show {
    opacity: 1;
  }
/* Header styles */
.header {
    padding-bottom: 30px;
}

.body.home-page .header {
    padding: 0px;
}
/* Section styles */
.section {
    padding: 20px;
    padding-left: 10%;
    padding-right: 10%;
	background-color: transparent;
  border-radius: 10px;
  /*box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);*/
}
body.dark-mode .section {
	background-color:transparent;
}
@media (max-width: 1024px) {
    .section {
        padding: 20px;
    }
}

@media (max-width: 768px) {
    .section {
        padding-left: 5%;
        padding-right: 5%;
    }
}
#blog-title a{

color:white;
}

/* Post title styling */
body.item-view .post-title.entry-title {
    font-size: 24px;
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 10px;
}

/* Post header styling */
.post-header {
    color: var(--text-color);
    display: flex;
    font-size: 14px;
    justify-content: space-between;
	padding-left: 0px;
    padding-right: 20px;
}

/* Styling for the first line in post header */
.post-header-line-1 {
    display: flex;
    align-items: center;
}

/* Styling for the post author */
.post-author {
    font-weight: bold;
    color: var(--text-color);
    margin-left: 5px;
}

/* Add some space between the header lines */
.post-header-line-1::after {
    content: '|';
    margin: 0 5px;
    color: #ccc;
}


/* Widget styles */
.widget {
    margin-bottom: 20px;
}

.widget-content {
    padding: 3px 0 0 3px;
    background-color: var(--widget-background-color);
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Search Widget Styles */
#BlogSearch1 {
    display: block; /* Make sure the widget is visible */
    position: relative;
    background:  var(--widget-background-color); /* White background for the search bar */
    padding-left: 10px;
    padding-right: 10px; /* Padding for spacing inside the container */
    border-radius: 8px; /* Rounded corners for a modern look */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for elevation */
}

#BlogSearch1 .widget-content {
    display: flex;
    align-items: center; /* Center the content vertically */
}

#BlogSearch1 input[type="text"] {
    flex: 1; /* Make the input take up remaining space */
    padding: 10px; /* Padding for a larger touch target */
    border: 1px solid #ddd; /* Light border for definition */
    border-radius: 5px 0 0 5px; /* Rounded corners, left side */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

#BlogSearch1 input[type="submit"] {
    background-color: #d32f2f; /* Red background for the submit button */
    color: #fff; /* White text color */
    border: none; /* Remove border */
    border-radius: 0 5px 5px 0; /* Rounded corners, right side */
    padding: 10px 20px; /* Padding for a larger touch target */
    cursor: pointer; /* Pointer cursor for interactive element */
    transition: background-color 0.3s ease; /* Smooth transition for background color */
}

#BlogSearch1 input[type="submit"]:hover {
    background-color: #b71c1c; /* Darker red on hover */
}

#BlogSearch1 input[type="text"]::placeholder {
    color: #888; /* Placeholder text color */
    font-style: italic; /* Italicize placeholder text */
}

/* Responsive Styles */
@media (max-width: 768px) {
    #BlogSearch1 {
        padding-left: 8px;
    padding-right: 8px; /* Reduce padding on smaller screens */
    }

    #BlogSearch1 .widget-content {
        flex-direction: column; /* Stack elements vertically */
    }

    #BlogSearch1 input[type="text"],
    #BlogSearch1 input[type="submit"] {
        flex: none; /* Remove flex property */
        width: 100%; /* Make elements full width */
        margin: 5px 0; /* Add margin for spacing */
    }

    #BlogSearch1 input[type="text"] {
        border-radius: 5px; /* Make border-radius uniform */
    }

    #BlogSearch1 input[type="submit"] {
        border-radius: 5px; /* Make border-radius uniform */
    }
}

@media (max-width: 480px) {
    #BlogSearch1 input[type="text"],
    #BlogSearch1 input[type="submit"] {
        padding: 8px; /* Reduce padding further on very small screens */
    }

    #BlogSearch1 input[type="submit"] {
        padding: 8px 15px; /* Adjust padding for submit button */
    }
}


/* Root styles */
:root {
    --background-color: #FFF;
    --text-color: #000;
    --link-color: #007BFF;
    --link-hover-color: #0056b3;
    --widget-background-color: #F5F5F5;
    --border-color: #CCC;
    --input-background-color: #FFF;
    --input-text-color: #000;
    --button-background-color: #007BFF;
    --button-text-color: #FFF;
    --button-hover-background-color: #0056b3;
}

body.dark-mode {
    --background-color: #121212;
    --text-color: #FFF;
    --link-color: #4e90ff;
    --link-hover-color: #1a73e8;
    --widget-background-color: #1E1E1E;
    --border-color: #444;
    --input-background-color: #333;
    --input-text-color: #FFF;
    --button-background-color: #2196F3;
    --button-text-color: #FFF;
    --button-hover-background-color: #0B79D0;
}

/* Link styles */
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.3s;
}

a:hover,
a:focus,
a:active {
    color: var(--link-hover-color);
    text-decoration: underline;
}

/* Header Styles */
header {
    background: #333;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

@media (max-width: 768px) {
    header {
        padding: 10px;
    }
}

/* Progress Bar Styles */
body.item-view #progress-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #f0f0f0;
    z-index: 1000;
}

body.item-view #progress-bar {
    height: 100%;
    background-color: #007bff;
    width: 0;
    transition: width 0.3s ease;
}

/* Switch Styles */
.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: background-color 0.4s;
    border-radius: 34px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    transition: transform 0.4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #2196F3;
}

input:focus + .slider {
    box-shadow: 0 0 5px rgba(33, 150, 243, 0.7);
}

input:checked + .slider:before {
    transform: translateX(16px);
}

/* Navigation Styles */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
     padding-top: 10px;
}

#menu-toggle, #search-toggle {
    cursor: pointer;
    font-size: 18px;
}

#menu {
    display: none;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: #333;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.3);
}

#menu-close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 24px;
}

#menu a {
    color: #fff;
    text-decoration: none;
    margin: 10px 0;
    font-size: 18px;
}

/* Dark Mode Styles */
body.dark-mode {
    --background-color: #121212;
    --text-color: #FFF;
    --link-color: #4e90ff;
    --link-hover-color: #1a73e8;
    --widget-background-color: #1E1E1E;
    --border-color: #444;
    --input-background-color: #333;
    --input-text-color: #FFF;
    --button-background-color: #2196F3;
    --button-text-color: #FFF;
    --button-hover-background-color: #0B79D0;
}

.dark-mode-container span {
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}

/* Search Widget Styles */
#search-widget {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
}

#search-widget input[type="text"] {
    padding: 8px;
    border: none;
    border-radius: 3px;
    margin-right: 5px;
}

#search-widget input[type="submit"] {
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 8px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#search-widget input[type="submit"]:hover {
    background-color: #555;
}

/* Hero styles */
#hero {
    position: relative;
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	padding-left:5px;
	padding-right:5px;
}

#hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

#hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

#hero .button {
    background: #000;
    color: #fff;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 1.2rem;
    transition: background-color 0.3s ease;
}

#hero .button:hover {
    background-color: #333;
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 1.2rem;
    }

    #hero .button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}
#animated-text {
    font-weight: bold;
    font-size: 30px;
    color: #54f75b; /* Adjust the color to match your theme */
}
#animated-text a{
color: #0056b3;
}
body.dark-mode #animated-text{
 color: #4CAF50;
}

/* Typing animation styling */
.typing {
    border-right: 2px solid #4CAF50;
    animation: blink-caret 0.75s step-end infinite;
}

@keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

@media (max-width: 768px) {
    #hero h1 {
        font-size: 2.5rem;
    }

    #hero p {
        font-size: 1.2rem;
    }

    #hero .button {
        font-size: 1rem;
        padding: 10px 20px;
    }
}


/* Footer styles */
footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.social-links {
    margin-top: 10px;
}

.quick-links a{
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}


.social-links a img {
    width: 24px;
    height: 24px;
    margin: 0 5px;
    vertical-align: middle;
}

#shareButton {
	display: content;
    position: fixed;
    bottom: 20px;
    right: 20px;
    
    color: white; /* Text color */
    padding: 10px;
    font-size: 24px; /* Adjust size if needed */
    cursor: pointer;
    z-index: 1000; /* Ensures it stays on top of other elements */
}

/* Popup Styles */
.contact-popup-overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      justify-content: center;
      align-items: center;
  }
  
  .popup-content {
      background: #fff;
      padding: 20px;
      border-radius: 8px;
      max-width: 500px;
      width: 100%;
      text-align: -webkit-center;
  }
  
  .contact-form-widget {
      margin: 0;
	  text-align: justify;
  }
  
  input[type="text"], textarea {
      width: 100%;
      padding: 10px;
      margin: 5px 0;
      box-sizing: border-box;
  }
  
  input[type="button"] {
      background-color: #4CAF50;
      color: white;
      border: none;
      padding: 0px 20px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      margin: 4px 2px;
      cursor: pointer;
  }
  
  input[type="button"]:hover {
      background-color: #45a049;
  }
  
  .contact-form-error-message, .contact-form-success-message {
      color: red;
      font-size: 12px;
  }
  
  body.dark-mode .popup-content {
      background: #333;
      color: #fff;
  }
  
  body.dark-mode  input[type="text"], body.dark-mode  textarea {
      background: #555;
      color: #fff;
  }
  
  body.dark-mode  input[type="button"] {
      background-color: #007BFF;
  }
  
  body.dark-mode  input[type="button"]:hover {
      background-color: #0056b3;
  }

#popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
    backdrop-filter: blur(5px); /* Apply background blur */
    z-index: 9998; /* Ensure it's behind the popup */
}

#popup-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
    color: #000;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    z-index: 9999; /* Ensure it's above other content */
    opacity: 0; /* Initially invisible */
    transition: opacity 0.3s ease; /* Fade-in transition */
    backdrop-filter: blur(5px); /* Apply background blur */
}

#popup-dialog.show {
    display: block;
    opacity: 1; /* Make it visible */
}

#popup-dialog p {
    margin-bottom: 20px;
}

#close-popup,
#accept-challenge {
    display: inline-block; /* Ensure both buttons are displayed in the same line */
    margin: 0 10px; /* Add margin between buttons */
    background: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition on hover */
}

#close-popup:hover {
    background-color: #333; /* Darken background on hover */
}

/* Post Styles for Home Page */
body.feed-view .post-body{
    overflow: hidden; 
    padding: 10px; /* Add padding for better readability */
    margin: 10px; /* Add margin for spacing */
}

body.feed-view .post-outer{
    background-color: #f9f9f9; /* Set background color */
    border-radius: 10px; /* Add border radius for rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    margin-bottom: 20px; /* Add margin for spacing */
}

body.feed-view .post-title{
    font-size: 24px; /* Set title font size */
    margin: 0;
    padding: 20px; /* Add padding for title */
	padding-top: 0px;
}

.post-footer-line-1 {
    display: flex;
    justify-content: space-between; /* Align items at each end */
    align-items: center;
    padding: 20px; /* Add padding for footer */
}

.post-share-buttons {
    flex: auto;
}
.post-footer-line-2 {
    display: flex;
    justify-content: space-between; /* Align items at each end */
    align-items: center;
    padding: 20px;
 	padding-top:0px;
	padding-bottom:0px;/* Add padding for footer */
}

.post-labels {
    margin-top: 10px; /* Add margin to separate labels from other content */
}

.post-labels a {
    display: inline-block;
    padding: 6px 12px; /* Add padding for labels */
    margin-right: 5px; /* Add margin between labels */
    background-color: #007bff; /* Set background color for labels */
    color: #fff; /* Set text color for labels */
    border-radius: 20px; /* Add border radius for rounded corners */
    font-size: 14px; /* Set font size for labels */
    text-decoration: none; /* Remove underline from labels */
}

.post-labels a:hover {
    background-color: #0056b3; /* Change background color on hover */
}

/* Popular Posts Styles */
.PopularPosts .widget-content ul {
    list-style: none;
    padding-left: 5px;
}

.PopularPosts .widget-content ul li {
    padding: .7em 0;
    border: 5px solid rgb(0 0 0 / 1%);
    border-radius: 10px;
}

.PopularPosts .item-title {
    color: black;
    font-size: x-large;
}

.PopularPosts .item-snippet {
    color: #777;
    font-size: smaller;
}
/* mcqs css*/
.question-box {
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;
}

.question-box:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
   
}

.question-box .question h3 {
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 1.5em;
    color: #444;
}

.question-box .question p {
    line-height: 1.5;
    font-size: 1.1em;
    color: #444;
}

.question-box .option ol {
    padding-left: 20px;
    font-size: 1.1em;
    color: #555;
}

.question-box .answer {
    margin-top: 15px;
    border-radius: 5px;
    background-color: #fafafa;
    padding: 10px;
    border: 1px solid #ddd;
}

.question-box .answer details summary {
    cursor: pointer;
    font-weight: bold;
    padding: 10px;
    background-color: #eee;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

.question-box .answer details summary:hover {
    background-color: #ddd;
}

.question-box .answer details p {
    margin-bottom: 10px;
    font-size: 1.1em;
    color: #555;
}

.question-box .answer details .explanation {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #eee;
    border-radius: 5px;
    border-left: 5px solid #ccc;
    transition: border-color 0.2s ease-in-out;
}

.question-box .answer details .explanation:hover {
    border-color: #bbb;
}

.question-box .answer details .explanation p {
    font-style: italic;
    color: #444;
    font-size: 1.1em;
}

/*pre code style button css for future use there is script too that needed to attach to button*/

  pre {
    position: relative;
    background-color: #000;
    color: #f8f9fa; /* Light text color for readability */
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    line-height: 1.5;
    overflow-x: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: 'Fira Code', monospace;
    margin-bottom: 20px;
  }

  code {
    display: block;
    white-space: pre;
    font-size: 14px;
  }

  /*.copy-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
    transition: background-color 0.3s ease;
  }

  .copy-btn:hover {
    background-color: #0056b3;*/
  }/*<script>
  function copyCode() {
    const code = document.querySelector('code');
    const textArea = document.createElement('textarea');
    textArea.value = code.textContent;
    document.body.appendChild(textArea);
    textArea.select();
    document.execCommand('copy');
    document.body.removeChild(textArea);
    alert('Code copied to clipboard');
  }
</script>*/


a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.2s ease-in-out;
}

a:hover {
    text-decoration: underline;
    color: #0056b3;
}

/* Dark Mode Styles */
body.dark-mode header {
    background: #1f1f1f;
}
body.dark-mode .question-box {
    background-color: #333;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}

body.dark-mode .question-box .question h3 {
    color: #fff;
}

body.dark-mode .question-box .question p,
body.dark-mode .question-box .option ol,
body.dark-mode .question-box .answer details p {
    color: #fff;
}

body.dark-mode .question-box .answer {
    background-color: #444;
    border: 1px solid #555;
}

body.dark-mode .question-box .answer details summary {
    background-color: #555;
}

body.dark-mode .question-box .answer details summary:hover {
    background-color: #666;
}

body.dark-mode .question-box .answer details .explanation {
    background-color: #505050;
    border-left: 5px solid #777;
}

body.dark-mode .question-box .answer details .explanation p {
    color: #fff;
}

body.dark-mode .pyqcontainer,
body.dark-mode #quiz-container,
body.dark-mode .semester-courses,
body.dark-mode .course-unit {
    background-color: #222;
}

body.dark-mode .course-unit {
    border: 0px;
}

body.dark-mode #topics-used .topic {
    background-color: rgba(0, 0, 0, .14);
    font-weight: bold;
}


body.dark-mode.home-page .post-outer,body.dark-mode.search-view .post-outer,body.dark-mode.label-view .post-outer  {
    background-color: #333;
}

body.dark-mode #hero {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('path/to/hero-image.jpg') no-repeat center center/cover;
    color: #fff;
}

body.dark-mode #hero .button {
    background: #777;
}

body.dark-mode span.post-timestamp a {
    color: white;
}

body.dark-mode .PopularPosts .item-title {
    color: white;
}

body.dark-mode .PopularPosts .item-snippet {
    color: #f5f5f5c7;
}

body.dark-mode footer {
    background: #1f1f1f;
}

body.dark-mode .quick-links a {
    color: #fff;
}

body.dark-mode .button {
    background: #ff5733;
    color: #fff;
}

body.dark-mode .button:hover {
    background-color: #e04e2a;
}

/* Hidden Elements */
#java-script,.blog-feeds,body.item-view .blog-pager, .post-feeds,
.date-header, .post-comment-link, body.error-view .status-msg-wrap,.filter-section{
    display: none;
}


/* Style for the blog-pager container */
.blog-pager {
    margin-top: 20px;
    text-align: center;
}

/* Style for the links within the blog-pager */
.blog-pager a {
    
    text-decoration: none; /* Remove underline */
    padding: 5px 10px; /* Add padding around the links */
    margin: 0 5px; /* Add margin between the links */
    border: 1px solid #ccc; /* Add border */
    border-radius: 3px; /* Add border radius */
}

/* Style for the links when hovered */
.blog-pager a:hover {
    background-color: #f0f0f0; /* Change background color on hover */
}

/* Style specifically for the home-link */
.home-link {
    font-weight: bold; /* Make the home link bold */
}


/* Responsive Styles */
@media (max-width: 1024px) {
    body.feed-view .post-body{
        padding: 15px;
        margin: 10px;
    }

    body.feed-view .post-title{
        font-size: 20px;
        padding: 15px;
    }

 .post-footer-line-1 {
        padding: 15px;
    }

 .post-labels a {
        padding: 5px 10px;
        font-size: 13px;
    }

    #close-popup, #accept-challenge {
        padding: 8px 15px;
        margin: 0 5px;
    }
}

@media (max-width: 768px) {
    body.home-page .post-body ,body.search-view .post-body,body.label-view .post-body{
        padding: 10px;
		padding-bottom: 0px;
        margin: 5px;
    }

    body.home-page .post-title ,body.search-view .post-title, body.label-view .post-title{
        font-size: 18px;
        padding: 10px;
    }

    body.home-page .post-footer-line-1 ,body.search-view .post-footer-line-1,body.label-view .post-footer-line-1{
        padding: 10px;
    }

    body.home-page .post-labels a ,body.search-view .post-labels a,body.label-view .post-labels a{
        padding: 4px 8px;
        font-size: 12px;
    }

    #close-popup, #accept-challenge {
        padding: 6px 10px;
        margin: 0 3px;
    }
}
.status-msg-body {
  padding: 15px;
  background-color: #f5f5f5;
  border-radius: 8px;
	top:0px;
bottom:0px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  color: #333;
}

.status-msg-body b {
  font-weight: bold;
}

.status-msg-body a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.status-msg-body a:hover {
  color: #0056b3;
}
body.error-view .section{
display:none;
}
.page-not-found {
           display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
padding: 20px;
        }
        .page-not-found h1 {
            font-size: 5em;
            margin: 0.5em 0;
        }
        .page-not-found p {
            font-size: 1.5em;
            margin: 0.5em 0;
        }
        .page-not-found a {
            display: inline-block;
            margin-top: 1em;
            padding: 0.75em 1.5em;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        .page-not-found a:hover {
            background-color: #0056b3;
        }
/* General Filter Styles */
#filter-widget {
    background: #444;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 1px;
    padding-bottom: 3px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#filter-widget h2 {
    color: #fff;
    margin-bottom: 10px;
}

.filter-row {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    overflow-x: auto;
}
#filter-widget input[type="text"], textarea {
    width: 95%;
}
.filter-search,
.filter-row select,
.filter-btn {
    background: #555;
    border: 1px solid #666;
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    min-width: 100px;
}

.filter-btn {
    background-color: #d32f2f;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #b71c1c;
}

.filter-row select {
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxMCAxMCI+PHBhdGggZD0iTTAgMGwxMCAxMEwwIDB6IiBmaWxsPSIjZmZmIi8+PC9zdmc+');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

@media (max-width: 768px) {
    .filter-row {
        flex-wrap: wrap;
        gap: 5px;
    }
}

@media (max-width: 480px) {
    .filter-search,
    .filter-row select,
    .filter-btn {
        padding: 8px;
        min-width: 70px;
    }
}
#filter-image{
filter: invert(100%);
}

    .question-box.option ol {
      list-style-type: upper-alpha;
    }
    .question-box.correct-answer {
      background-color: #bbedc7;
    }
    .question-box.incorrect-answer {
      background-color: #ff97a1;
    }
    body.dark-mode .question-box.incorrect-answer {
      background-color: #9b2631; 
    }
    body.dark-mode .question-box.correct-answer {
      background-color: #236d2b;
    }
    .interactivemcq-button {
      display: inline-block;
      padding: 10px 20px;
      font-size: 16px;
      font-weight: bold;
      color: #fff;
      background-color: #007BFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    .interactivemcq-button:hover {
      background-color: #0056b3;
    }
	#tool-block{
	padding-top: 10px;
}
#blogger-notice-widget{display:contents;}
#HTML3{
    margin-bottom: 0px;
}
.home-page #popular-post-section,.home-page #footer-element,.home-page #Blog-Post,.home-page #blog-title{
display: none;}

  .disclaimer {
    background-color: #f9f9f9;
    border-left: 5px solid #ff6600;
    padding: 15px;
    margin: 20px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #333;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.disclaimer p {
    margin: 0;
    line-height: 1.6;
}

.disclaimer strong {
    color: #e94e02;
}
/* Hide AdBlock message on pages with body.preview */
body.preview #adblock-message {
    display: none !important;
}
